* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
}

.time {
  width: 92%;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}

nav {
  width: 90%;
  min-height: 50px;
  margin: 10px auto;
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid black;
}

.navul {
  display: flex;
  width: fit-content;
  gap: 35px;
}

.navul li {
  font-size: 23px;
  border-right: 3px solid black;
  padding: 0 10px;
  text-align: center;
}

.navul li:last-child {
  border: none;
}

a:hover {
  color: lightskyblue;
}

.navul a {
  color: black;
}

#now.active {
  color: #075bf8;
}

#go.active {
  color: #075bf8;
}

#then.active {
  color: #075bf8;
}

#read.active {
  display: none;
}

#addnew.active {
  display: none;
}

#contact.active {
  display: none;
}

#logo {
  font-size: 25px;
  color: black;
  font-weight: 700;
}

h1 {
  padding: 30px 0;
  font-size: 60px;
  text-align: center;
}

#books {
  width: 80%;
  margin: auto;
  border: 3px solid black;
}

form {
  width: 44%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

#btn {
  width: fit-content;
  padding: 5px 25px;
  font-size: 14px;
  font-weight: 700;
  align-self: flex-end;
}

.field {
  height: 40px;
}

.book {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  background-color: #eef1f1;
  padding: 3px 12px;
}

.two {
  background-color: white;
}

.book p {
  font-size: 19px;
}

.remove {
  padding: 1px 8px;
  background-color: white;
  box-shadow: 1px 2px;
}

footer {
  width: 100%;
}

.right {
  width: 90%;
  border: 3px solid black;
  padding: 10px;
  margin: 10px auto;
  font-size: 19px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 19px;
}

.details ul {
  margin: 30px 0;
}

.details p {
  font-weight: 700;
}
